body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.produtos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}



.produto-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.produto-info {
    text-align: center;
    margin-bottom: 10px;
}

.produto-info .nome {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.produto-info .descricao {
    font-size: 13px;
    color: #666;
    margin-bottom: 8px;
}

.produto-info .preco {
    color: #e60000;
    font-size: 16px;
    font-weight: bold;
}

.produto-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas.fa-shopping-cart {
    font-size: 22px;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
}

.fas.fa-shopping-cart:hover {
    color: #c00;
}
